<div class="row mt-5">
  <div class="col-12 col-sm-10 col-lg-8 mx-auto">
    <div class="bg-white shadow p-5 mb-5">
      <h1 class="text-center">Forgot password</h1>
      <hr>
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

        <%= hidden_field_tag :email, @user.email %>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <small class="text-danger">
            <%= @user.errors.messages[:password].first %>
          </small>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
          <small class="text-danger">
            <%= @user.errors.messages[:password_confirmation].first %>
          </small>
        </div>

        <%= f.submit "Update password", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
