<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-10 col-lg-8 mx-auto mb-5">
      <div class="bg-white shadow py-3 px-5">
        <h1 class="text-center"> <%= @article.title %></h1><hr>
        <p> <%= @article.text %> </p>
        <% @images.each do |image| %>
          <% if image.variable? %>
            <%= link_to image_tag(image.variant(resize: "200x200"), class: 'img-thumbnail shadow m-2'), image %>
          <% else %>
            <%= link_to (image.filename), image %>
          <% end %>
        <% end %>
      </div>

      <div class="bg-white shadow py-3 px-5 mt-3">
        <h1>Comments:</h1>
        <hr>
        <div id="comment_pane">
          <%#= render @comments %>
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
          <% end %>
        </div>
      </div>

      <div class="bg-white shadow pt-3 pb-4 px-5 mt-3">
        <% if logged_in? %>
          <h1>Comment this article:</h1>
          <hr>
          <%= render 'comments/form' %>
        <% else %>
          <p>If you want comment this article please login ... <%= link_to 'click here for redirect', login_path %> </p>
        <% end %>
      </div>

    </div>
  </div>

</div>