<h1>Registro</h1>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<hr>
<%= form_for @user, url: register_path, method: 'post' do |f| %>
  <div>
    <%= f.label 'Nombre' %>
    <%= f.text_field :name %>
    <small class="text-danger">
      <%= @user.errors.messages[:name].first%>
    </small>
  </div>
  <div>
    <%= f.label 'Email:' %>
    <%= f.email_field :email %>
    <small class="text-danger">
      <%= @user.errors.messages[:email].first%>
    </small>
  </div>
  <div>
    <%= f.label 'Password:' %>
    <%= f.password_field :password %>
    <small class="text-danger">
      <%= @user.errors.messages[:password].first%>
    </small>
  </div>
  <div>
    <%= f.label 'Repetir password' %>
    <%= f.password_field :password_confirmation %>
    <small class="text-danger">
      <%= @user.errors.messages[:password_confirmation].first%>
    </small>
  </div>

  <%= f.submit 'Registrarme' %>
<% end %>
